<!DOCTYPE html>
<html>
<head xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8" />
<title>SI-LAB02</title>

<!-- caminho para o angular -->
<script src="materialize/js/angular.min.js"></script>
<script src="materialize/js/controller.js"></script>

<link type="text/css" rel="stylesheet"
	href="../materialize/css/materialize.min.css" media="screen,projection" />
<!-- link para usar os icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- link para usar os o css -->
<link type="text/css" rel="stylesheet"
	href="../materialize/css/estilo.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>
<body>

	<div class="cabecalho">
		<a id="sair" class="waves-effect waves-light btn modal-trigger blue"
			href="/logout">Sair</a>
	</div>

	<nav>
		<div class="nav-wrapper">
			<ul class="right hide-on-med-and-down">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/cadastroArtista"><h4>Artista</h4></a></li>
				<li><a href="/cadastrarMusica"><h4>Musica</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
			</ul>
		</div>
	</nav>

	<div class="card" id="cardDetalhesArtista"
		th:each="artista : ${artista}">
		<div class="card-image waves-effect waves-block waves-light">
			<img id="imagemDetalhesArtista" class="activator"
				th:src="${artista.linkDaImagem}" />
		</div>
		<div class="card-content">
			<span id="font" class="card-title activator grey-text text-darken-4">
				<span th:text="${artista.nomeArtista}"></span> <i
				class="material-icons right">add_circle_outline</i>
			</span> <i id="favorito" class="material-icons"><span
				th:text="${artista.favorito}"></span></i>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4"> <span
				th:text="${artista.nomeArtista}"></span> <i
				class="material-icons right">close</i>
			</span>
			<p>
				Nota: <span th:text="${artista.classificacaoArtista}"></span>
			</p>
			<p>Ultima Musica Escutada:
			<p>
				<span th:text="${artista.ultimaMusicaEscutada}"></span>
			</p>
			</p>
		</div>
	</div>

	<div id="nota" class="modal">
		<form class="col s12" method="post">
			<div class="row">
				<div class="input-field col s12">
					<input type="text" class="validate" value=""
						name="classificacaoArtista" /> <label data-error="wrong">Nota
						Do Artista</label>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary">ADD</button>
			</div>
		</form>
	</div>

	<div id="ultimaMusicaEscutada" class="modal">
		<form class="col s12" method="post">
			<div class="row">
				<div class="input-field col s12">
					<input type="text" class="validate" value=""
						name="ultimaMusicaEscutada" /> <label data-error="wrong">Ultima
						Musica Escutada </label>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary">ADD</button>
			</div>
		</form>
	</div>
	<div id="musicasEAlbunsArtistas">
		<a class="waves-effect waves-light btn modal-trigger blue"
			href="#musicaArtista"><i class="material-icons">music_note</i>Musicas</a>
		<a class="waves-effect waves-light btn modal-trigger blue"
			href="#albunsArtistas"><i class="material-icons">album</i>Albuns</a>
		<a class="waves-effect waves-light btn modal-trigger blue"
			href="#nota">Nota </a> <a
			class="waves-effect waves-light btn modal-trigger blue"
			href="#ultimaMusicaEscutada">Ultima Musica Escutada</a>

	</div>

	<!-- Modal Structure -->
	<div id="musicaArtista" class="modal bottom-sheet">
		<table class="striped" th:each="artista : ${artista}">
			<tbody th:each="album : ${artista.albuns}">
				<tr id="musicaArtista" th:each="musica : ${album.musicas}">
					<td><span th:text="${musica.nomeMusica}"></span><i
						class="material-icons">music_note</i></td>
				</tr>
			</tbody>
		</table>
		<div class="modal-footer"></div>
	</div>

	<!-- Modal Structure -->
	<div id="albunsArtistas" class="modal bottom-sheet">
		<table class="striped" th:each="artista : ${artista}">
			<tbody th:each="album : ${artista.albuns}">
				<tr id="albunsArtista">
					<td><span th:text="${album.nomeAlbum}"></span><i
						class="material-icons">album</i></td>
				</tr>
			</tbody>
		</table>
		<div class="modal-footer"></div>
	</div>



</body>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
	src="../materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="../materialize/js/estilos.js"></script>
</html>