<!DOCTYPE html>
<html>
<head xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8" />
<title>SI-LAB02</title>

<!-- caminho para o angular -->
<script src="materialize/js/angular.min.js"></script>
<script src="materialize/js/controller.js"></script>

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!-- link para usar os icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- link para usar os o css -->
<link type="text/css" rel="stylesheet" href="materialize/css/estilo.css" />
</head>
<body>

	<div class="cabecalho">
		<a id="sair"
			class="waves-effect waves-light btn modal-trigger" href="/logout">Sair</a>
	</div>

	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/cadastroArtista">Artista</a></li>
		<li><a href="/cadastrarMusica">Musica</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper">
			<ul class="right hide-on-med-and-down">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
				<li><a class="dropdown-button" data-activates="dropdown1"><h4>Cadastrar</h4>
						<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>

	<div class="row" id="cadastro">
		<form class="col s12" method="post">
			<div class="input-field col s12">
				<input type="text" class="validate" value="" name="nomeMusica" required="required" />
				<label data-error="nome da musica invalida">Nome Da Musica</label>
			</div>
			<div class="input-field col s12">
				<input type="text" class="validate" value="" name="duracaoMusica"
					required="required" /> <label data-error="duracao da musica invalida">Duracao Da Musica</label>
			</div>
			<div class="input-field col s12">
				<input type="text" class="validate" value=""
					name="anoLancamentoMusica" required="required" /> <label
					data-error="ano da musica invalido">Ano De lancamento Da Musica</label>
			</div>
			<div class="input-field col s12">
				<input type="text" class="validate" value="" name="artista"
					required="required" /> <label data-error="artista da musica invalido">Artista Da Musica</label>
			</div>
			<div class="input-field col s12">
				<input type="text" class="validate" value="" name="nomeAlbum"
					required="required" /> <label data-error="nome do album invalido">Album Da Musica</label>
			</div>
			<button type="submit" class="btn btn-primary">Adicionar
				Musica</button>
		</form>
	</div>


</body>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/estilos.js"></script>
</html>