<!DOCTYPE html>
<html>
<head xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8" />
<title>SI-LAB02</title>

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!-- link para usar os icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- link para usar os o css -->
<link type="text/css" rel="stylesheet" href="materialize/css/estilo.css" />
</head>
<body>

	<div class="cabecalho">
		<a id="sair" class="waves-effect waves-light btn modal-trigger blue"
			href="/logout">Sair</a>
	</div>

	<nav>
		<div class="nav-wrapper">
		   <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/cadastroArtista"><h4>Artista</h4></a></li>
				<li><a href="/cadastrarMusica"><h4>Musica</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/cadastroArtista"><h4>Artista</h4></a></li>
				<li><a href="/cadastrarMusica"><h4>Musica</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
			</ul>
		</div>
	</nav>

	<div class="row" id="cadastro">
		<form class="col s12" method="post">
			<div class="input-field col s12">
				<input id="nome" type="text" class="validate" value=""
					name="nomeArtista" required="required" /> <label
					data-error="nome artista invalido">Nome Do Artista</label>
			</div>
			<div class="input-field col s12">
				<input id="link" type="text" value="" name="linkDaImagem" /> <label>Link
					Para a Imagem Do Artista</label>
			</div>
			<button type="submit"
				onclick="Materialize.toast('Artista Cadastrado Com Sucesso', 4000,'green rounded')"
				class="btn btn-primary">Adicionar Artista</button>
		</form>

	</div>


</body>
<!-- caminho para o angular -->
<script src="materialize/js/angular.min.js"></script>
<script src="materialize/js/controller.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/estilos.js"></script>
</html>