<!DOCTYPE html>
<html>
<head xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8" />
<title>SI-LAB02</title>

<!-- caminho para o angular -->
<script src="materialize/js/angular.min.js"></script>
<script src="materialize/js/controller.js"></script>

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!-- link para usar os icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- link para usar os o css -->
<link type="text/css" rel="stylesheet" href="materialize/css/estilo.css" />
</head>
<body>

	<div class="cabecalho">
		<div class="row">
			<form class="col s12" method="post">
				<div class="row">
					<div id="areaPesquisa" class="input col s12">
						<input id="pesquisa" type="text" class="browser-default" value=""
							name="nomeArtista" placeholder="procurar artista" required="" />
						<button id="procuarArtista" type="submit"
							class="waves-effect waves-teal btn-flutuante">
							<i class="material-icons">search</i>
						</button>
						<a id="cadastroElogin"
							class="waves-effect waves-light btn modal-trigger blue"
							href="/logout">Sair</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<nav>
		<div class="nav-wrapper">
		   <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/cadastroArtista"><h4>Artista</h4></a></li>
				<li><a href="/cadastrarMusica"><h4>Musica</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/cadastroArtista"><h4>Artista</h4></a></li>
				<li><a href="/cadastrarMusica"><h4>Musica</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
			</ul>
		</div>
	</nav>

	<div class="card" id="cardPaginaInicial"
		th:each="artista : ${artistas}">
		<div class="card-image waves-effect waves-block waves-light">
			<img id="imagemArtista" class="responsive-img"
				th:src="${artista.linkDaImagem}" />
		</div>
		<div class="card-action">
			<a id="artistas"
				th:href="${(#mvc.url('AC#detalhesArtista').arg(0, artista.id)).build()}">
				<span th:text="${artista.nomeArtista}"> </span>
			</a> <a
				th:href="${(#mvc.url('AC#favoritaArtista').arg(0, artista.id)).build()}">
				<i class="material-icons" id="favorito"><span
					th:text="${artista.favorito}"></span></i>
			</a>
		</div>
	</div>


</body>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/estilos.js"></script>
</html>