<!DOCTYPE html>
<html>
<head xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8" />
<title>SI-LAB02</title>

<!-- caminho para o angular -->
<script src="materialize/js/angular.min.js"></script>
<script src="materialize/js/controller.js"></script>

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!-- link para usar os icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- link para usar os o css -->
<link type="text/css" rel="stylesheet" href="materialize/css/estilo.css" />
</head>
<body>

	<div class="cabecalho">
		<a id="sair" class="waves-effect waves-light btn modal-trigger blue"
			href="/logout">Sair</a>
	</div>

	<nav>
		<div class="nav-wrapper">
			<ul class="right hide-on-med-and-down">
				<li><a href="/paginaInicial"><h4>Pagina Inicial</h4></a></li>
				<li><a href="/cadastroArtista"><h4>Artista</h4></a></li>
				<li><a href="/cadastrarMusica"><h4>Musica</h4></a></li>
				<li><a href="/playList"><h4>PlayList</h4></a></li>
			</ul>
		</div>
	</nav>

	<div class="row" id="cadastro">
		<form class="col s12" method="post">
			<div class="input-field col s12">
				<input type="text" class="validate" value="" name="nomePlayList"
					required="required" /> <label
					data-error="nome da playList invalido">Nome PlayList</label>
			</div>
			<button type="submit" class="btn btn-primary">Criar PlayList</button>
		</form>
	</div>

	<table class="striped">
		<tbody>
			<tr th:each="playList : ${playLists}">
				<td><a
					th:href="${(#mvc.url('PLC#detalhesPlayList').arg(0, playList.idPlayList)).build()}">
						<span th:text="${playList.nomePlayList}"> </span>
				</a></td>
				<td><a id="deletar" class="waves-effect waves-light btn-small"
					th:href="${(#mvc.url('PLC#deletaPlayList').arg(0, playList.idPlayList)).build()}">
						<i class="material-icons">delete_forever</i>
				</a></td>
			</tr>
		</tbody>
	</table>

</body>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/estilos.js"></script>
</html>